.app {
  display: flex;
}

.customer-list {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.customer-card {
  padding: 10px;
  cursor: pointer;
}

.customer-card.selected {
  background-color: #f0f0f0;
}

.customer-details {
  width: 70%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.customer-details h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

.customer-details p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.photo-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 500;
}
